<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="Logo">

    <h2>Fake Job Offer Detector - Login</h2>

    <form method="POST">

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <input type="submit" value="Login">

    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

</div>

</body>
</html>